.input
	width 100%
	border 1px solid #dadada
	box-sizing border-box
	height 32px
	padding 0 8px
	
	font-size 15px
	font-family 'Roboto Thin'
	
	outline none
	
	&:hover
		border-color #bababa
		
	&:focus
		border-color #399bff
	&:disabled
		color #a0a0a0