.auth-form
	box-sizing border-box
	width 400px
	
	margin 200px auto 0
	padding 15px 25px
	
	font-family 'Roboto Thin'
	
	background #f2f2f2
	
	box-shadow 0 1px 7px 0 rgba(0, 0, 0, 0.37)
	
	&__header
		margin-bottom 40px
		text-align center
		font-size 30px
		color #000
	
	&__note
		margin-bottom 20px
		text-align center
		font-size 14px
		color #9b9b9b
	
	&__credentials
		margin-bottom 20px
	
	&__form-submit
		text-align center
	
	&__input
		margin-bottom 10px
	
	&__error
		margin-bottom 20px
		text-align center
		color #f20d0d